{% extends 'website/temp.html'%}
{%load static%}

 {% block content %}

  <section class="about_section layout_padding">
    <div class="container  ">
      {% for i in About_us%}
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{{i.Front_page_photo.url}}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2 style="color: white;  text-shadow: 1px 1px 1px black;">
                About <span>Us</span> /  हमारे बारे में
              </h2>
            </div>
            <p style="color: white;text-shadow: 1px 1px 1px black;" >
              {{i.About_us}}
            </p>
            <a href="{% url 'founders' %}">
              Know Our Founders / हमारे संस्थापकों को जानें
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  

  <!-- end about section -->


  
{% endblock content%}