{% extends 'website/temp.html' %}
{% load static %}
{% block content%}
  <!-- contact section -->

    <section class="contact_section layout_padding" style="text-shadow: 1px 2px 2px black;">
      <div class="container">
        <div class="heading_container">
          <h2 style="color: white;">
            Get In Touch
          </h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form_container contact-form">
              <form action="{% url 'touch' %}" method="post">
                {% csrf_token %}
                <div class="form-row">
                  <div class="col-lg-6">
                    <div>
                      <input type="text" placeholder="Your Name / आपका नाम" name="Name" required/>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div>
                      <input type="text" placeholder="Subject / विषय" name="sub" required/>
                    </div>
                  </div>
                </div>
                <div>
                  <input type="email" placeholder="Email" name="email" required/>
                </div>
                <div>
                  <input type="text" name="contact" id="" placeholder="Please enter your phone number / कृपया अपना फोन नंबर दर्ज करें" required>
                </div>
                <div>
                  <input type="text" class="message-box" placeholder="Message / संदेश" name="message" required/>
                </div>
                <div class="btn_box">
                  <button type="submit">
                    SEND
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="map_container">
              <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3578.347074573498!2d86.07577941503101!3d26.25039678341736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x39f8cd9fde05cfbc!2zMjbCsDE1JzAxLjQiTiA4NsKwMDQnNDAuNyJF!5e0!3m2!1sen!2sin!4v1652438130041!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end contact section -->




{% endblock content %}