{% extends 'website/temp.html' %}
{% load static%}
{% block content %}
  <!-- department section -->

  <section class="department_section layout_padding">
    <div class="department_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2 style="color: white;">
            Our Departments
          </h2>
          <p style="color: white;">
            Asperiores sunt consectetur impedit nulla molestiae delectus repellat laborum dolores doloremque accusantium
          </p>
        </div>
        <div class="row">
          {% for i in depart %}
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="{{i.Logo.url}}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {{i.Department}}
                </h5>
                <p>
                  {{i.About}}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="btn-box">
          <a href="{% url 'home' %}">
            Home
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end department section -->




{% endblock content%}