{% extends 'website/temp.html'%}
{%load static%}

 {% block content %}

  <section class="about_section layout_padding">
    <div class="container  ">
      {% for i in founder %}
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{{i.Photo.url}}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box" style="text-align: center;">
            <div class="heading_container">
              <h2 style="color: white; width: 100%;">
                {{i.Name}}
              </h2>
            </div>
            <p style="color: white;">
              {{i.About}}
            </p>
          </div>
        </div>
      </div>
      {% endfor%}
      

    </div>
  </section>

  <!-- end about section -->


  
{% endblock content%}