{% extends 'website/temp.html' %}
{% load static%}
{% block content%}

    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section " >
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="3000">
            <div class="container ">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1  style="text-shadow: 1px 2px 2px black;">
                      RPS Global Hospital
                    </h1>
                    <p  style="text-shadow: 1px 2px 2px black;">
                      "Bringing medical care of International guidelines inside the scope of each person."
                    </p>
                    <div class="btn-box">
                      <a href="{% url 'about' %}" class="btn1">
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% for i in slider %}
          <div class="carousel-item" data-interval="3000" style="text-shadow: 1px 2px 2px black;">
            <div class="container ">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box"  style="text-shadow: 1px 2px 2px black;">
                    <h1>
                      {{i.Header}}
                    </h1>
                    <p>
                      {{i.Data}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          {% for i in slider %}
          <li data-target="#customCarousel1" data-slide-to="{{ forloop.counter }}"></li>
          {% endfor %}
        </ol>
      </div>

    </section>
    <!-- end slider section -->
  </div>


  <!-- department section -->

  <section class="department_section layout_padding">
    <div class="department_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Our Departments / 
            हमारे विभाग
          </h2>
          <p>
            We have different departments for your every situation
            <hr>
            आपकी हर स्थिति के लिए हमारे पास अलग-अलग विभाग हैं
          </p>
        </div>
        <div class="row">
          {% for i in depart %}
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="{{i.Logo.url}}" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  {{i.Department}}
                </h5>
                <p>
                  {{i.About}}
                </p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="btn-box">
          <a href="{% url 'department' %}">
            View All
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end department section -->

  <!-- about section -->

  <section class="about_section layout_margin-bottom">
    <div class="container  ">
      {% for i in About_us%}
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{{i.Front_page_photo.url}}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About <span>Us</span> / हमारे बारे में
              </h2>
            </div>
            <p>
              
              {{i.About_us}}
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <!-- end about section -->

  <!-- doctor section -->

  <section class="doctor_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Doctors / हमारे डॉक्टर
        </h2>
        <p class="col-md-10 mx-auto px-0">
          We have dedicated the best team of doctors to help you 24 * 7 . Here, you will see all of our services, such as:
          -Treatment for your illness and health problems, Support for you and your family and support to you in your time of need.
        <hr>
        हमने 24*7 आपकी मदद करने के लिए डॉक्टरों की सर्वश्रेष्ठ टीम को समर्पित किया है। यहां, आप हमारी सभी सेवाओं को देखेंगे, जैसे: -आपकी बीमारी और स्वास्थ्य समस्याओं के लिए उपचार। - आपके और आपके परिवार के लिए समर्थन। 
        और जरूरत के समय में आपका साथ दें।</p>
      </div>
      <div class="row">
        {% for i in data %}
        <div class="col-sm-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src='{{i.Photo.url}}' alt="">
            </div>
            <div class="detail-box">
              <div class="social_box">
                {{i.About}}
              </div>
              <h5>
                {{i.Name}}/{{i.Name_Hindi}}
              </h5>
              <h6 class="">
                {{i.Field}}
              </h6>
            </div>
          </div>
        </div>
        {% endfor %}
        
        
      </div>
      <div class="btn-box">
        <a href="{% url 'doctor' %}">
          View All
        </a>
      </div>
    </div>
  </section>

  <!-- end doctor section -->

  <!-- contact section -->
  <section class="contact_section layout_padding layout_padding-bottom">
    <div class="container">
      <div class="heading_container">
        <h2>
          Get In Touch / संपर्क करें
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container contact-form">
            <form action="{% url 'touch' %}" method="post">
              {% csrf_token %}
              <div class="form-row">
                <div class="col-lg-6">
                  <div>
                    <input type="text" placeholder="Your Name / आपका नाम" name="Name" required/>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div>
                    <input type="text" placeholder="Subject / विषय" name="sub" required/>
                  </div>
                </div>
              </div>
              <div>
                <input type="email" placeholder="Email" name="email" required/>
              </div>
              <div>
                <input type="text" name="contact" id="" placeholder="Please enter your phone number / कृपया अपना फोन नंबर दर्ज करें " required>
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message / संदेश" name="message" required/>
              </div>
              <div class="btn_box">
                <button type="submit">
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="map_container">
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3575.54376435052!2d86.07092531744384!3d26.341268999999993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39edcd154db54d03%3A0x4b6feef062513e96!2sMadhuri%20Health%20Care%20Hospital%20Private!5e0!3m2!1sen!2sin!4v1649526852985!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->

  <!-- client section -->

  
  <!-- end client section -->



 

{% endblock content%}